.form {
  height: 90vh;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.8rem;

  &__request {
    font-family: 'Montserrat';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: whitesmoke;
    &--label {
      margin-bottom: 0.5rem;
    }

    &--input {
      height: 2rem;
      padding: 0.4rem;
      color: grey;
    }

    &--button {
      margin-top: 2rem;
    }
  }

  &__title {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__login {
    height: 60vh;
  }
}
